<!doctype html>
<html lang="en">
    <head>
        <%- include('./layout/head') %>
    </head>
    <body>
        <%- include('./layout/header') %>

        <!-- ================ start banner area ================= -->
        <section class="blog-banner-area" id="category">
            <div class="container h-100">
                <div class="blog-banner">
                    <div class="text-center">
                        <h1>Reset Password</h1>
                        <nav aria-label="breadcrumb" class="banner-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li
                                    class="breadcrumb-item active"
                                    aria-current="page"
                                >
                                    Reset
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- ================ end banner area ================= -->

        <!--================Login Box Area =================-->
        <section class="login_box_area section-margin">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="login_form_inner">
                            <% if(flash.length > 0){ %>
                                    <% for(key in flash){ %>
                                        <div class="col-md-12 form-group">
                                            <div
                                                class="alert alert-<% if(flash.success){ %>success<% }else{%>danger<% } %>"
                                                role="alert"
                                            >
                                            <%= flash[key] %>
                                            </div>
                                        </div>
                                        <% } %>
                                <% } else{ %>
                                    <h3>Enter Your New Password</h3>
                                    <form
                                        class="row login_form"
                                        action="/reset?token=<%= token %>"
                                        id="contactForm"
                                        method="post"
                                    >
                                    <% errors.forEach((error) =>{ %>
                                        <div class="col-md-12 form-group">
                                            <div
                                                class="alert alert-danger"
                                                role="alert"
                                                >
                                                <%= error.msg %>
                                                </div>
                                            </div>
                                    <% }) %>
                                        <div class="col-md-12 form-group">
                                            <input
                                                type="password"
                                                class="form-control"
                                                id="password"
                                                name="password"
                                                placeholder="Password"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Password'"
                                                required
                                            />
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <button
                                                type="submit"
                                                value="submit"
                                                class="button button-login w-100"
                                            >
                                                Reset
                                            </button>
                                        </div>
                                    </form>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Login Box Area =================-->

        <%- include('./layout/footer') %>
    </body>
</html>
